.header{
    background-color: white;
    padding: 0 40px;
    width: 100%;
    position:sticky;
    top:0;
    display: flex;
    height: 100px;
    justify-content:space-between;
    align-items: center;
    z-index: 1;
}
.link{
    color: black;
    font-size: 22px;
    border-bottom: 3px solid white;
    font-weight: 500;
    margin-left: 20px;  
    padding-bottom: 5px;  
    transition: .2s;

}
.link:hover{
    border-bottom: 3px solid black;
    transition: .2s;
}
.icons{
    display: grid;
    grid-template-columns: 24px 24px; 
    grid-template-rows: 24px;
    grid-column-gap: 25px;

}
.icon{
    border-radius: 50px;
    width: 30px;
    align-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 30px;

}
.icon:hover{
    background-color: #00000038;
}