.product{
    cursor: pointer;
    width: fit-content;
}
.imageContainer{
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 600px;
  
}

.browseImage{
  position: relative;
  height: 100%;
}
.productData{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.description{
    margin-top: 5px;
    color: rgba(119, 117, 117, 0.856);
}
.special{
  color: #9E3500;
  font-size: 17px;
  margin-bottom: 5px;
}
.imageProduct{
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 500px;
}
@media (max-width: 1700px){
  .imageProduct {
    width: 400px;
    height: 400px;
  }
}


@media (max-width: 1530px){
  .imageProduct {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 1340px){
  .imageProduct {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 1150px){
  .imageProduct {
    width: 250px;
    height: 250px;
  }
}



@media (max-width: 1700px){
    .imageContainer {
      width: 500px;
      height: 500px;
    }
  }
  @media (max-width: 1500px){
    .imageContainer {
      width: 400px;
      height: 400px;
    }
  }

  @media (max-width: 1300px){
    .imageContainer {
      width: 300px;
      height: 300px;
    }
  }
  